@font-face {
    font-family: "Blender Pro";
    src: url("../src/fonts/BlenderPro/BLENDERPRO-THIN.TTF") format("truetype"); 
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: "Blender Pro";
    src: url("../src/fonts/BlenderPro/BLENDERPRO-BOOK.TTF") format("truetype"); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Blender Pro";
    src: url("../src/fonts/BlenderPro/BLENDERPRO-MEDIUM.TTF") format("truetype"); 
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: "Blender Pro";
    src: url("../src/fonts/BlenderPro/BLENDERPRO-HEAVY.TTF") format("truetype"); 
    font-weight: 600;
    font-style: normal;
}
  
@font-face {
    font-family: "Blender Pro";
    src: url("../src/fonts/BlenderPro/BLENDERPRO-BOLD.TTF") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Industry";
    src: url("../src/fonts/Industry/Industry-Light.ttf") format("truetype"); 
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Industry";
    src: url("../src/fonts/Industry/Industry-Book.ttf") format("truetype"); 
    font-weight: 400;
    font-style: normal;
}
    
@font-face {
    font-family: "Industry";
    src: url("../src/fonts/Industry/Industry-Medium.ttf") format("truetype"); 
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Industry";
    font-weight: 600;
    src: url("../src/fonts/Industry/Industry-Demi.ttf") format("truetype"); 
    font-style: normal;
}

@font-face {
    font-family: "Industry";
    src: url("../src/fonts/Industry/Industry-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Industry";
    src: url("../src/fonts/Industry/Industry-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

